    <div style="padding: 0px 30px">
	<h2>MH Skynet - Contributed Songs</h2>
    </div>

    <style>
    td,th { padding: 2px; }
    </style>

    <div style="padding: 0px 30px">

<table>
 <tr>
  <th>Identifier</th>
  <th>Title</td>
  <th>Thumb</td>
 </tr>
 <% @songs.each do |s| %>
 <tr>
  <td><a href="<%= s.url %>" target="_blank" ><%= s.identifier %></a></td>
  <td><div id="title_<%= s.identifier %>"></div></td>
  <td><div id="thumb_<%= s.identifier %>"></div></td>
 </tr>
 <% end %>
</table>

</div>

<script>
    function get_movie_data(movie_id) {
     $.get( "https://www.googleapis.com/youtube/v3/videos?key=<%= @google_domain_api_key %>&part=snippet&id="+movie_id, function( data ) {
      $( "#title_"+movie_id ).html( data.items[0].snippet.title );
      $( "#thumb_"+movie_id ).html( "<img src=\""+data.items[0].snippet.thumbnails.default.url+"\" />" );
     });
    }

$( document ).ready(function() {
<% @songs.each do |s| %>
 get_movie_data("<%= s.identifier %>");
<% end %>
});
</script>
