<% if @error -%>
<h4><%= @error %></h4>
<% end -%>
<pre>
    p <%= "*tweet!*" if (rand < 0.10) %>
   /O\      
 .*====*_______________.
 |  /                  |
 | /                   8
<%= render :partial => "hang_man/stages/stage_"+(((@letters_not_found.length + 1) < 8)?(@letters_not_found.length + 1):7).to_s %>

<% @game.phrase.split('').to_a.each_with_index do |l,i| -%>
<%= "    " if (i == 0) %><%= (l == " ")?"  ":((@game.letters_guessed.split('').include?(l))?(l+" "):"_ ") -%>
<% end -%>


  Hang the bastard!
              \
o . o . .oo..o .. ..ooo
O o  o O o o O o o o O O    <- (angry mob)
O  O O  O o  O O O o o  O

No: <%= @letters_not_found.split('').join(' ') %>
</pre>
