<div style="padding: 0px 30px">

<h3>Geolocate</h3>

<style>
 td {
        padding: 2px 10px;
}
</style>


<% f = Freegeoip.new
 all_sessions = Session.all
 session_data = all_sessions.map { |s|
  session_data = s.decoded_session_data
  if session_data["source_ip"]
   f.find(session_data["source_ip"])
  else
   f.clear_fields
  end
  [s.id, s.updated_at, session_data["source_ip"], f.state, f.city, f.country, session_data["user_agent"], (session_data["poisoned_session"])?"Yes":"No"] 
 }
 if (params[:sort] == "updated_at")
  session_data.sort! {|x,y| x[1] <=> y[1] }
 else
  session_data.sort! {|x,y| (x[5]+" "+x[3]+" "+x[4]) <=> (x[5]+" "+y[3]+" "+y[4]) }
 end
%>
<table>
<tr>
<th>Session ID</th>
<th><a href="?sort=updated_at">Last Visit</a></th>
<th>IP Address</th>
<th>State, City</th>
<th>Country</th>
<th>User Agent</th>
<th>Poisoned?</th>
<th>&nbsp;</th>
<% session_data.each do |s| %>
<tr>
<td><%= s[0] %></td>
<td><%= s[1].in_time_zone(@movie_time_zone).strftime("%b %e %l:%M %p %Z") %></td>
<td><%= s[2] %></td>
<td><%= s[3] %>, <%= s[4] %></td>
<td><%= s[5] %></td>
<td><%= s[6] %></td>
<td><%= s[7] %></td>
<td><a href="/admin/poison_session/<%= s[0] %>" target="_blank" >Poison</a></td>
</tr>
<% end %>
</tr>
</table>


</div>
