
<% movies  = QueuedMovie.where(["(start_time + (duration * '1 second'::interval)) > ? AND (start_time + (duration * '1 second'::interval)) < ?", Time.now.gmtime, Time.now.gmtime + (24 * 60 * 60)])
   movies += QueuedMovie.where(["start_time >= ? AND start_time < ?", Time.now.gmtime, Time.now.gmtime + (24 * 60 * 60)])
   movies += QueuedMovie.where(["start_time <= ? AND (start_time + (duration * '1 second'::interval)) >= ?", Time.now.gmtime, Time.now.gmtime + (24 * 60 * 60)])
   movies.uniq!
   movies.sort! {|x,y| x.start_time <=> y.start_time }
%>

<p>Times in <%= @movie_time_zone %><p>

<%
 scale = 78.54545454
%>
<div style="width: 1102px">
<div style="float:left; max-width:200px;">Now</div>
<div style="float:right; max-width:300px; text-align: right">24 hours from now</div>
</div>
<br />


<div style="width: 1150px">

<% time_line = Time.now.in_time_zone(@movie_time_zone)
   (0..23).each do |h| %>
<div style="width:46px;float:left; border-left: 1px black solid;">&nbsp;<%= (time_line + (60 * 60 * h)).strftime("%l:%M") %></div>
<% end %>
</div>
<br />


<div id="time_line" style="border: 1px solid black; height: 22px; width:1102px;">
<% 
 cue_point = Time.now.gmtime
 status = "gap"
 previous_movie = nil
 movies.each_with_index do |m,i|
  if ((cue_point >= m.start_time.gmtime) && (cue_point < (m.start_time.gmtime + m.duration))) # Playing
   status = "playing"
   next_cue = (m.start_time.gmtime + m.duration)
  end
  if (cue_point < m.start_time)
   status = "coming up"
   next_cue = m.start_time.gmtime
  end
  
  next_cue = Time.now.gmtime + (24 * 60 * 60) if (next_cue > (Time.now.gmtime + (24 * 60 * 60)))
   %>
<% if ((status == "coming up") && previous_movie) %>
<div style="float: left; width: <%= ((next_cue - (previous_movie.start_time + previous_movie.duration)) / scale).round %>px;height: 20px; background-color: #FFFFFF;" data-toggle="tooltip" data-placement="top" title="Gap length: <%= formatted_duration((next_cue - (previous_movie.start_time + previous_movie.duration)).round) %> Starting at <%= (previous_movie.start_time + previous_movie.duration).in_time_zone(@movie_time_zone).strftime("%l:%M %p %Z") %>" ></div>
<% end %>
<% if ((status == "coming up") && previous_movie.nil?) %>
<div style="float: left; width: <%= ((next_cue - cue_point) / scale).round %>px;height: 20px; background-color: #FFFFFF;" data-toggle="tooltip" data-placement="top" title="Gap length: <%= formatted_duration((next_cue - cue_point).round) %> Starting at <%= cue_point.in_time_zone(@movie_time_zone).strftime("%l:%M %p %Z") %>" ></div>
<% end %>
<% if (status == "playing") %>
<div data-toggle="tooltip" data-placement="top" title="<%= m.title+" "+m.formatted_duration %>" style="float: left; width:<%= ((next_cue - cue_point) / scale).round %>px; background-color: #00FF00; height: 20px;" ><%#= cue_point.to_s %><%#= i %><%#= m.title %><%#= next_cue.to_s %></div>
<% else %>
<div data-toggle="tooltip" data-placement="top" title="<%= m.title+" "+m.formatted_duration %>" style="float: left; width:<%= ((m.duration) / scale).round %>px; background-color: #FF0000; height: 20px;" ><%#= cue_point.to_s %><%#= i %><%#= m.title %><%#= next_cue.to_s %></div>
<% end
  cue_point = next_cue
  previous_movie = m
 end
 %>
<% if (cue_point < (Time.now.gmtime + (24 * 60 * 60))) %>
<div style="height:20px; background-color: #FFFFFF;" data-toggle="tooltip" data-placement="top" title="Gap Starting at <%= cue_point.in_time_zone(@movie_time_zone).strftime("%l:%M %p %Z") %>"></div>
<% end %>
</div>

<script>
$( document ).ready(function() {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
