    <%= render :partial => 'shared/navigation' %>

    <div style="padding: 0px 30px">
        <h2>MH Skynet - Scheduled Movies</h2>
    </div>

    <style>
    td,th { padding: 2px; }
    </style>

    <div style="padding: 0px 30px">

    <%= render :partial => 'visual_schedule' %>

    <table>
    <tr>
     <th>Servie</th>
     <th>Title/Link</th>
     <th>Live Event</th>
     <th>Start Time</th>
     <th>Length</th>
     <th>Status</th>
     <th>Notes</th>
     <th>Modify</th>
    </tr>
    <% QueuedMovie.order("start_time desc").each do |m| %>
    <tr>
     <td><%= m.service.titleize if m.service %></td>
     <td><%= link_to(m.title, m.url) %></td>
     <td><%= (m.live_event?)?"Yes":"No" %></td>
     <td><%= m.start_time.in_time_zone(@movie_time_zone).strftime("%A, %d %b %Y %l:%M %p %Z") %></td>
     <td><%= m.formatted_duration %></td>
     <td>
	<% if ((m.start_time + m.duration) < Time.now) %>
	Finished
	<% else %>
	 <% if (m.start_time < Time.now) %>
	  PLAYING
	 <% else %>
	  Coming Up
 	<% end %>
       <% end %>
      </td>
      <td><%= m.notes if m.service %></td>
      <td>
	<% if (((m.start_time + m.duration) > Time.now) && (@superuser || (m.session_id == @user_session_id))) %>
	<div class="btn-group" role="group" aria-label="modify">
	  <a class="btn btn-warning" href="/screening_room/edit/<%= m.id %>">Edit</a>
	  <a class="btn btn-danger" href="/screening_room/delete/<%= m.id %>">Delete</a>
	</div>
	<% end %>
      </td>
    </tr>
    <% end %>
    </table>
    </div>

<%= render :partial => 'screening_room_nav' %>
