    <%#= render :partial => 'shared/navigation' %>
<!--
    <div style="padding: 0px 30px">
	<h2>MH Skynet - Screening Room</h2>
    </div>
-->
<center>
    <div id="movie_play_status">
    Current Movie: <i><%= @movie_title %></i> - 
<% if (@movie_time > Time.now) %>
    Starts At: <i><%= @movie_time.in_time_zone("America/Los_Angeles").strftime("%b %e %l:%M %p") %> PST</i> (movie will start playing automatically)
<% else %>
    Started At: <i><%= @movie_time.in_time_zone("America/Los_Angeles").strftime("%b %e %l:%M %p") %> PST</i>
<% end %>
    </div>
       <a id="resize_link">Resize</a>
</center>

      <center>
       <a name="movie">
	<table>
	<tr>
	<td valign="top">
        <div id="player" style="float: left;width: 780px;padding-top: 20px;padding-left: 10px;"></div>
	</td>
	<td align="center">
        <div id="disqus_thread" style="width: 500px; padding-left: 20px; padding-top: 0px;overflow: scroll; height: 700px;"></div>
	</td>
	</tr>
	</table>
       </a>
      </center>


    <script>
     $("#resize_link").attr("href", "/screening_room?width="+$( window ).width())

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '700',
          width: '750',
          videoId: '<%= @youtube_video_id %>',
          events: {
            'onReady': onPlayerReady
          }
        });
      }


      function movie_sign() {
        document.title = "<%= "▶ ︎" +@page_title %>";
        elem = document.getElementById("movie_play_status");
        elem.innerHTML = "Current Movie: <i><%= @movie_title %></i> - Started At: <i><%= @movie_time.in_time_zone("America/Los_Angeles").strftime("%b %e %l:%M %p") %> PST</i>";
        player.playVideo()
      }

      function onPlayerReady(event) {
	<% if (@movie_time > Time.now) %>
        setTimeout(function(){ movie_sign(); }, <%= (1000 * (@movie_time - Time.now)).round %>);
	<% else %>
        event.target.seekTo(<%= (Time.now - @movie_time).round %>);
        event.target.playVideo();
	<% end %>
      }

    </script>

    <script type="text/javascript">

        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mhskynet'; // required: replace example with your forum shortname
        var disqus_identifier = 'the_screening_room';
        var disqus_url = 'http://www.mhsky.net/screening_room';
        var disqus_disable_mobile = false;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <%#= render :partial => 'shared/footer' %>


<script>
<% if params[:play_start] %>
$( "#play_link" ).click();
<% end %>
</script>
