<%= form_for @queued_movie, {:url => "/screening_room/schedule_movie", method: "post" } do |f| %>

<% unless @queued_movie.new_record? %>
<input type="hidden" name="id" value="<%= @queued_movie.id %>" />
<% end %>

<div style="padding: 0px 30px">

<% if @queued_movie.new_record? %>
<h3>Schedule A Movie</h3>
<% else %>
<h3>Edit a Scheduled Movie</h3>
<% end %>

<%= render :partial => 'visual_schedule' %>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div id="preview_image"></div>

<table>
<% if @superuser %>
<tr>
 <th>Screning Room #</th>
 <td><%= f.select :screening_room, (1..10).to_a %></td>
</tr>
<% else %>
<input type="hidden" name="queued_movie[screening_room]" value="<%= @screening_room %>" />
<% end %>
<tr>
 <th>Service</th>
 <td><%= f.select :service, QueuedMovie.service_options %></td>
</tr>
<tr>
 <th>Identifier</th>
 <td><%= f.text_field :identifier %> <div id="spinner" style="display: none"><img src="/basic_spinner.gif" /></div><br />Identifier should be the movie ID. Example: "bS5P_LAqiVg" for YouTube, DailyMotion and Vimeo.  HTML5 media should be full URLs.</td>
</tr>
<tr>
 <th>Title</th>
 <td><%= f.text_field :title, {size: 100} %></td>
</tr>
<tr>
 <th>Start Time</th>
 <td>
	<%= select_tag(:start_year, options_for_select((Date.today.year..(Date.today.year + 2)), @start_year)) %> / 
	<%= select_tag(:start_month, options_for_select((1..12).map {|x| [Date::MONTHNAMES[x], x] }, @start_month)) %> / 
	<%= select_tag(:start_day, options_for_select(1..31, @start_day)) %> &nbsp; &nbsp; &nbsp; 
	<%= select_tag(:start_hour, options_for_select(1..12, @start_hour)) %> : 
	<%= select_tag(:start_minute, options_for_select(0..59, @start_minute)) %>  
	<%= select_tag(:start_am_pm, options_for_select(["AM","PM"], @start_am_pm)) %>  
	<%= select_tag(:start_time_zone, options_for_select(available_time_zones, @start_time_zone)) %>  
 </td>
</tr>
<tr>
 <th>Duration</th>
 <td><input name="hours" id="hours" value="<%= @hours %>" size="4" /> hours, <input name="minutes" id="minutes" value="<%= @minutes %>" size="4" /> minutes, <input name="seconds" id="seconds" value="<%= @seconds %>" size="4" /> seconds</td>
</tr>
<tr>
 <th>Live Event?</th>
 <td><%= f.check_box :live_event %> (This is unusual, don't check unless certain. This skips the seeking step when going to play)</td>
</tr>
<tr>
 <th>Who Posted this and why?</th>
 <td><%= f.text_area :notes, {:rows => 3, :cols => 60} %> (Note, other information such as your IP address is already recorded, but only these notes will be public.)</td>
</tr>
</table>
<p>&nbsp;</p>
<% if @queued_movie.new_record? %>
<p><input type="submit" value="Schedule New Movie" /></p>
<% else %>
<p><input type="submit" value="Save Edits" /></p>
<% end %>

<% end %>

</div>

<%= render :partial => 'screening_room_nav' %>

<script>
    function get_youtube_movie_data(movie_id) {
     $.get( "https://www.googleapis.com/youtube/v3/videos?key=<%= @google_domain_api_key %>&part=snippet&id="+movie_id, function( data ) {
      $( "#queued_movie_title" ).val( data.items[0].snippet.title );
      $( "#preview_image" ).html( "<img src=\""+data.items[0].snippet.thumbnails.medium.url+"\" />" );
     });
     $.get( "https://www.googleapis.com/youtube/v3/videos?key=<%= @google_domain_api_key %>&part=contentDetails&id="+movie_id, function( data ) {
      timeregex = /PT(\d+)M(\d+)S/g;
      time_str = data.items[0].contentDetails.duration;
      if (matches = timeregex.exec(time_str)) {
       $("#hours").val("0");
       $("#minutes").val(matches[1]);
       $("#seconds").val(matches[2]);
      }
      timeregex = /PT(\d+)H(\d+)M(\d+)S/g;
      time_str = data.items[0].contentDetails.duration;
      if (matches = timeregex.exec(time_str)) {
       $("#hours").val(matches[1]);
       $("#minutes").val(matches[2]);
       $("#seconds").val(matches[3]);
      }
     });
    }

$( document ).ready(function() {
 $( "#queued_movie_identifier" ).change(function() {
  if (($("#queued_movie_service").val() == "youtube") && ($("#queued_movie_identifier").val().length == 11)) {
   $("#spinner").show();
   get_youtube_movie_data($("#queued_movie_identifier").val());
   $("#spinner").hide();
  }
 });
});

</script>
