<%= form_for @queued_movie, :url => "/screening_room/schedule_movie" do |f| %>

<div id="disqus_thread" style="padding: 0px 30px">
<h3>Schedule A Movie</h3>

<table>
<tr>
 <th>Identifier</th>
 <td><%= f.text_field :identifier %> Identifier should be the movie ID, e.g. "M2mST8OFUNo" for YouTube, DailyMotion and Vimeo.  HTML5 media should be full URLs.</td>
</tr>
<tr>
 <th>Service</th>
 <td><%= f.select :service, QueuedMovie.service_options %></td>
</tr>
<tr>
 <th>Title</th>
 <td><%= f.text_field :title %></td>
</tr>
<tr>
 <th>Start Time</th>
 <td>
	<%= select_tag(:start_year, options_for_select((Date.today.year..(Date.today.year + 2)), @start_year)) %> / 
	<%= select_tag(:start_month, options_for_select((1..12).map {|x| [Date::MONTHNAMES[x], x] }, @start_month)) %> / 
	<%= select_tag(:start_day, options_for_select(1..31, @start_day)) %> &nbsp; &nbsp; &nbsp; 
	<%= select_tag(:start_hour, options_for_select(1..12, @start_hour)) %> : 
	<%= select_tag(:start_minute, options_for_select(0..59, @start_minute)) %>  
	<%= select_tag(:start_am_pm, options_for_select(["AM","PM"], @start_am_pm)) %>  
	<%= select_tag(:start_time_zone, options_for_select(["Pacific Time (US & Canada)","Mountain Time (US & Canada)","Central Time (US & Canada)","Eastern Time (US & Canada)","Atlantic Time (Canada)","Newfoundland"], @start_time_zone)) %>  
 </td>
</tr>
<tr>
 <th>Duration</th>
 <td><input name="hours" value="<%= @hours %>" /> hours, <input name="minutes" value="<%= @minutes %>" /> minutes, <input name="seconds" value="<%= @seconds %>" /> seconds</td>
</tr>
<tr>
 <th>Live Event?</th>
 <td><%= f.check_box :live_event %> (This is unusual, don't check unless certain. This skips the seeking step when going to play)</td>
</tr>
<tr>
 <th>Who Posted this and why?</th>
 <td><%= f.text_area :notes, {:rows => 3, :cols => 60} %> (Note, other information such as your IP address is already recorded. These notes will be public.)</td>
</tr>
</table>
<p>&nbsp;</p>
<p><input type="submit" value="Schedule New Movie" /></p>
<% end %>

</div>
